<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic template</title>
</head>
<body>
<% include ./partials/header %>

<p>this is from layout</p>
<%- body -%>




<% include ./partials/footer %>
