<% layout('layout') -%>
<div class="container">
    <div class="col-md-6 main1 col-md-offset-3">
        <div class="row">
            <% if(message.length >0 ){ %>
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismmiss="alert" arial-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= errors %>
            </div>
            <% } %>
            <form method="post" class="form-control">
                <input type="email" name="email" class="form-control" placeholder="Email">
                <br><br>
                <input type="password" name="password" class="form-control" placeholder="Password">
                <br><br>
                <input type="submit" name="submit" class="btn btn-primary form-control" value="Login">
            </form>
        </div>

    </div>

</div>