<% layout('layout') -%>
<div class="container">
    <div class="col-md-6 main1 col-md-offset-3">
        <div class="row">
            <form action="" class="form-control">
                <input type="email" class="form-control" placeholder="Email">
                <br><br>
                <input type="password" class="form-control" placeholder="Password">
                <br><br>
                <input type="submit" name="submit" class="btn btn-primary form-control" value="Login">
            </form>
        </div>

    </div>

</div>